.team-member h3{
    color: white;
    text-align: center;
    padding: 50px 0px;
}
.carousel-item{
    position: relative;
}
.carousel-item p{
    position: absolute;
    bottom: -16px;
    background-color: rgba(240, 14, 138, 0.7);
    padding: 10px;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
}
