footer{
    background-color: #35145A;
}
.footerSection{
    padding: 3em 0px;
    color: #fff;
}
ul{
    padding-top: 50px;
}
ul li{
    list-style: none;
}
ul> h3{
    margin-bottom: 10px!important;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
