footer{
    background-color: #35145A;
}
.footerSection{
    padding: 3em 0px;

}
.footer_ul {
    padding-top: 50px;
}
.footer_ul li{
    font-size: 17px;
    list-style: none;
    color: rgb(219, 219, 219);
    transition: 0.3s ease-in-out;
}
.footer_ul li:hover{
    color: rgb(255, 255, 255);
    margin-left: 4px;
}
.footer_ul > h3{
    margin-bottom: 10px!important;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}
.footer_ul > h3:hover{
    margin-left: 0px!important;
}
